.text {
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 30px;
    color:rgb(185, 15, 142);
    text-align:center;
    text-decoration: underline;
    font-family: "Comic Sans MS";
}
.textStyle{
    font-family: "Comic Sans MS";
}
.background {
    background-color: yellowgreen;
}
    
h2 {
    text-align:center;
    font-family: "Comic Sans MS";
}
    
form {
    text-align:center;
    font-family: "Comic Sans MS";
}

#next {
  margin-top:30px;
  font-family: "Comic Sans MS";
}